<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crazy calculator</title>
</head>
<body>
<h1>Do the math.</h1>

<h3>Sum</h3>
<form method="post" action="{{ path('ddd_calculator_sum') }}">
    <input type="number" placeholder="sum1" name="sum1">
    <input type="number" placeholder="sum2" name="sum2">
    <button type="submit">Send</button>
</form>


</body>
</html>
