# config for haproxy 1.5.x

global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option forwardfor
        option http-server-close
        stats enable
        stats auth someuser:somepassword
        stats uri /haproxyStats

frontend http-in
        bind *:80

        # Define hosts
        acl preproduction_acl_host hdr(host) -i preproduction.com
        acl production_acl_host hdr(host) -i production.com

        ## figure out which one to use
        use_backend staging if preproduction_acl_host
        use_backend production if production_acl_host

backend staging
        balance roundrobin
        option httpclose
        option forwardfor
        server node1 10.0.0.1:8080 check

backend production
        balance roundrobin
        option httpclose
        option forwardfor
        server node1 10.0.0.4:8080 check
