haproxy/volumes/config/haproxy.cfg
rsyslog/config/rsyslog.conf
rsyslog/config/docker.conf
rsyslog/config/app.conf
logrotate/config/logrotate.conf
haproxy/volumes/tls/*
!**/data/.gitkeep
**/data/*
ssh/config/id_rsa.pub
